.dashboard-container {
  .sidebar {
    position: fixed;
    top: 60px;
    width: 200px;
    height: calc(100% - 60px);
    border-right: 2px solid $border-color;
    overflow-x: hidden;

    .logo {
      margin-top: 20px;
      padding: 20px;
      margin-left: 20px;
      img {
        width: 70%;
      }
    }

    ul {
      padding: 0px 20px;
      margin-left: 20px;

      li {
        margin-top: 15px;
        font-size: 20px;
        list-style: none;
        color: $color;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .main {
    position: absolute;
    top: 60px;
    width: calc(100% - 200px);
    min-height: calc(100% - 60px);
    left: 200px;

    .cards {
      width: 60%;
      padding: 35px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;

      .card {
        padding: 20px;
        border: 2px solid $border-color;
        width: 250px;
      }
    }
  }
}
