.container {
  border: 10px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 50px;

  .title-box {
    display: flex;
    width: 80%;
    margin-top: 60px;

    .title {
      flex: 1;

      h1 {
        font-size: 28px;
        color: $color;
      }
    }
    .image {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      img {
        width: 80%;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    input {
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 30px;
      outline: none;
      border: 2px solid $border-color;
      padding: 2px 10px;

      &::placeholder {
        color: $color;
        font-size: 30px;
      }
    }

    button {
      margin-top: 80px;
      font-size: 30px;
    }
    .error {
      text-align: center;
      color: #d92323;
      font-size: 15px;
      margin: 20px;
    }
  }
}

@import "mobile";
