@media all and (max-width: 1495px) {
  body {
    .container {
      .login-form {
        width: 40%;
        .title-box {
          .title {
            h1 {
              font-size: 26px;
            }
          }
          .image {
            img {
              width: 70%;
            }
          }
        }

        form {
          input {
            font-size: 25px;

            &::placeholder {
              font-size: 25px;
            }
          }

          button {
            font-size: 25px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1070px) {
  body {
    .container {
      .login-form {
        width: 45%;

        .title-box {
          .title {
            h1 {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 950px) {
  body {
    .container {
      .login-form {
        width: 60%;

        .title-box {
          flex-direction: column-reverse;

          .title {
            h1 {
              margin-top: 20px;
              font-size: 22px;
              text-align: center;
            }
          }
          .image {
            justify-content: center;
            img {
              width: 50%;
            }
          }
        }

        form {
          input {
            font-size: 22px;

            &::placeholder {
              font-size: 22px;
            }
          }

          button {
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 650px) {
  body {
    .container {
      .login-form {
        width: 80%;

        form {
          input {
            font-size: 18px;

            &::placeholder {
              font-size: 18px;
            }
          }

          button {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 350px) {
  body {
    .container {
      .login-form {
        width: 100%;
      }
    }
  }
}
