.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search {
    i {
      transform: rotate((90deg));
      font-size: 25px;
    }
    input {
      border: none;
      width: 250px;
      padding: 2px;
      font-size: 20px;
      background: transparent;
      border: 2px solid gray;
    }
  }
}
.pagination-container {
  display: flex;
  margin-top: 10px;

  .pagination-button {
    border: none;
    background: transparent;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
  }

  .numbers {
    button {
      border: none;
      background: transparent;
      font-size: 15px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
